<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean class="org.wong.aop.LogAspectXml" id="logAspect"/>
    <bean class="org.wong.aop.service.MyCalculatorImp" id="myCalcImp"/>

    <aop:config proxy-target-class="true"> <!--https://stackoverflow.com/questions/35541809/bean-autowiring-not-working-after-spring-aop-->
        <aop:pointcut id="pointcut" expression="execution(* org.wong.aop.service.*.*(..))"/>
        <aop:aspect ref="logAspect">
            <aop:after method="after" pointcut-ref="pointcut"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" returning="r" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterThrowing" throwing="e" pointcut-ref="pointcut"/>
            <aop:around method="around" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>
